@import url(//fonts.googleapis.com/css?family=Fira+Mono);

html,
body {
    font: 1rem "Fira Mono", "Courier New", monospace;
    color: greenyellow;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: black;
}

#page {
    height: 100%;
    display: flex;
    flex-direction: row;
    z-index: 2;
}

.overlay {
    background-color: rgba(255, 255, 255, 0.05);
    border: 0.5rem ridge #151515;
}

#main {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 0 2.5%;
}

#terminal {
    flex: 1;
    overflow: auto;
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    scroll-snap-type: y proximity;
    scroll-padding: 0.5rem 1rem;
}

#terminal::after {
    content: "";
    display: block;
    height: 0;
    width: 0;
    scroll-snap-align: end;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #555;
}

::-webkit-scrollbar-thumb:hover {
    background: #999;
}

button.overlay {
    font: 1.25rem "Fira Mono", "Courier New", monospace;
    color: greenyellow;
    padding: 1rem 0;
    margin: 0 2.5% 1rem 2.5%;
}

button.overlay:hover {
    background-color: rgba(255, 255, 255, 0.15);
    border: 0.5rem ridge #202020;
}

#buttons {
    transition: max-height 1s;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
    max-height: 0;
}

#buttons.out {
    max-height: 100%;
}