begin:
    text: '''
        [delay 500]Connecting[delay 750][normal .][delay 750][normal .][delay 750][normal .][delay 750]
        [sound alarm.wav]<em>Beep</em> [delay 1000]<em>Beep</em> [delay 1000]<em>Beep</em>[delay 1000]
        [sound click.wav]You wake up slowly to the sound of your alarm.
        It drones on and on until you wake up enough to turn it off.
        What do you do?
        '''
    options: [
        {
            icon: 'newspaper'
            text: 'Check the news'
            next: 'checkNews'
        }
        {
            icon: 'arrow-up-from-bracket'
            text: 'Get out of bed'
            next: 'getUp'
        }
    ]
checkNews:
    text: '''
        You grab your Augmented Reality glasses from your nightstand and put them on.
        As you scroll somewhat absentmindedly through the news, one story catches your eye.
        An image of a flooded town off of the Missisippi River.
        Murky brown water everywhere, past waist height.
        Cars, buildings, and trees barely above the surface.
        [image https://images.foxtv.com/static.fox7austin.com/www.fox7austin.com/content/uploads/2020/02/932/524/Flooding-in-MIssissippi-.jpg?ve=1&tl=1]
        Nature is a cruel mistress, you think.
        But then again, we've always had to deal with natural disasters, right?
        Well, thats enough of the news for today. That stuff is always just depressing.
        '''
    loop: 'begin'
getUp:
    text: '''
        You get up and get ready for the day.
        When you come back out of the bathroom, you notice two things:
        1. It's freezing in here
        2. Your room is a mess
        '''
    options: [
        {
            icon: 'fan'
            text: 'Turn off the A/C'
            next: 'turnOff'
        }
        {
            icon: 'folder'
            text: 'Check out the mess'
            next: 'mess'
            return: 'continue'
        }
        {
            icon: 'arrow-up-from-bracket'
            text: 'Leave'
            next: 'leave'
        }
    ]
turnOff:
    text: '''
        As you go over to turn off the air conditioning, you take a look out the window. Just as you expected, its cloudy and rainy. The A/C must have been making the temperature even colder than it already was outside.
        You've had it turned all the way up for the past few days due to the heatwave. You'd been worried that it wasn't going to end: you had never seen a heatwave go for that long or that hot in your life. Clearly it's over now, though, if the temperature is anything to go by.
        You adjust the A/C's settings in its app on your AR glasses. On to more important things.
        '''
    loop: 'getUp'
mess:
    text: '''
        You spend so much time at work nowadays that your room is pretty messy. In theory, all of your materials would be contained in the folder on your desk, but you spend so much time reorganizing and adjusting that it all ends up strewn about. You'd probably be better off using virtual documents, but something about feeling the papers in your hand still appeals to you more than just seeing them.
        You pick up what few papers remain the folder and flick through them. They're the three studies you've based your presentation on. You stare at them for a little, pensively. You'd always wanted to be the one doing the research. That's why you took this job; presenting research seemed like a good way to get some connections, not to mention you needed the money. But at some point you lost track of that goal, and even though you can probably afford to go back to school now, being a researcher feels like someone else's dream. The kind of thing a kid tells themself before they've been exposed to the real world.
        This job is fine. It pays well. <b>It's fine</b>.
        Anyway, you have three studies in the folder.
        Do you want to review any of them before the big hearing later?
        '''
    options: [
        {
            icon: 'industry'
            text: 'CCS Study'
            next: 'ccs'
        }
        {
            icon: 'fire-flame-simple'
            text: 'Efficiency Study'
            next: 'efficiency'
        }
        {
            icon: 'arrows-rotate'
            text: 'Lifecycle Analysis'
            next: 'lca'
        }
        {
            icon: 'arrow-up-from-bracket'
            text: 'Continue'
            next: 'continue'
        }
    ]
ccs:
    text: '''
        This study is about CCS, Carbon Capture and Storage. It's a technology that significantly reduces the carbon emissions of coal and natural gas power plants, by up to 90%. So of course, the fossil fuels corporation you work for is pretty interested in it as a way to keep their business... up to date with the times. This study is an overview of past and current research into CCS technologies, some of which promise to reduce emissions by up to 95% or even more. It also has some low level explanations of how the technology works, such as some diagrams of possible processes.
        [image https://ars.els-cdn.com/content/image/1-s2.0-S0048969720367346-gr1.jpg]
        Of course, the extra work needed to capture and store the carbon dioxide does make the cost of electricity for CCS plants higher, and the technology can never reduce emissions to near zero like renewables. The study does note that, but your supervisor said not to focus on that part so much. After all, how much harm could just a little more carbon dioxide really do?
        '''
    loop: 'mess'
efficiency:
    text: '''
        This study is an analysis of the cost efficiency of various fossil fuel energy sources compared to renewable sources. The study found that all together, renewables cost about 6-8 cents per kilowatt-hour (kWh), while fossil fuel sources like coal and natural gas cost about 4-5 cents per kWh, depending on the source. Your supervisor was very insistent you highlight that while a 2 or 3 cent difference may not seem like much, if you multiply it over the whole power grid, it starts to add up. And you suppose that makes sense; if the government is going to be subsidizing energy, it might as well get the most out of each dollar.
        The study, being funded by the company you work for, neglects to mention the cost increases from the use of CCS, which you've been told raise it up to about the same levels as renewables, if not more. But you've been assured that your company is working hard to make CCS cheaper, and once they do that they'll be sure to switch over. So that makes you feel a little better... you think. Until then though the company is still intending to focus on non-CCS plants. You won't be mentioning that either.
        '''
    loop: 'mess'
lca:
    text: '''
        This study you're not supposed to have. Your supervisor had been making a big fuss about some new lifecycle analysis that would show fossil fuels weren't as bad as everyone thought, but a couple of months later they had just stopped talking about it. So you did a little digging, found the researchers who did the study, and asked them for a copy. 
        Once they sent it to you, you quickly realized why you hadn't heard any more about it. Rather than find evidence that fossil fuels weren't as destructive as people thought, they actually found evidence that certain aspects of the process were more destructive than initially thought.
        You're not sure why you kept the study. You certainly aren't going to use it at today's hearing, that would be... bad for your job security, to say the least. But something about it keeps nagging at you. Maybe it's the enormity of it all. You know about climate change—it's hard to ignore it with all the protests that have been going on recently—but as far as you can tell, everything seems to be fine. Sure, there's been a lot of floods in some other states recently, and there's definitely been a lot of heatwaves here in Texas, but none of it seems that bad. But seeing the sheer amount of carbon being emitted, together with references to the direct and indirect effects, even in a fossil fuel funded study; it makes you uncomfortable, to say the least.
        You put the study back in the folder. You shouldn't be distracting yourself with that today. This is possibly the biggest hearing of your career. If you mess this up, it'll mean the majority of fossil fuel subsidies will be diverted to renewable energy, and less money for your employer means less money for you. No mistakes today.
        '''
    loop: 'mess'
continue:
    text: '''
        You turn your attention to the rest of the room.
        '''
    loop: 'getUp'